
dn: ou=Group,dc=ansible,dc=fr
objectClass: organizationalUnit
ou: Group

dn: ou=People,dc=ansible,dc=fr
objectClass: organizationalUnit
ou: People

dn: uid=1000,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: John Smith 
sn: Smith
uid: 1000 
givenName: John
userPassword: {SSHA}6dBBrC5PM4Ec7zButvPIQRJZagSbcAba
loginShell: /bin/bash
gidNumber: 1000
uidNumber: 1000
homeDirectory: /home/1000

dn: cn=jsmith,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: jsmith
gidNumber: 1000

dn: uid=1001,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: Steven Parker 
sn: Parker
uid: 1001 
givenName: Steven
userPassword: {SSHA}UHUWA4U+LRnC8SPmD3i/Bf+MxHD9o04N
loginShell: /bin/bash
gidNumber: 1001
uidNumber: 1001
homeDirectory: /home/1001

dn: cn=sparker,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: sparker
gidNumber: 1001

dn: uid=1002,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: Barbara Jensen 
sn: Jensen
uid: 1002 
givenName: Barbara
userPassword: {SSHA}tVCkQSHpiH0aolZEJDLe/nhPaK/XD3PE
loginShell: /bin/bash
gidNumber: 1002
uidNumber: 1002
homeDirectory: /home/1002

dn: cn=bjensen,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: bjensen
gidNumber: 1002

dn: uid=1003,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: Scott McAdam 
sn: McAdam
uid: 1003 
givenName: Scott
userPassword: {SSHA}ijsfd8ir8ibrerQZgcPeNyCQh5XDXws3
loginShell: /bin/bash
gidNumber: 1003
uidNumber: 1003
homeDirectory: /home/1003

dn: cn=smcadam,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: smcadam
gidNumber: 1003

dn: uid=1004,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: Paul Position 
sn: Position
uid: 1004 
givenName: Paul
userPassword: {SSHA}R9APtbwyyqnHUZuDFdmgFRUxCvFVhJ3D
loginShell: /bin/bash
gidNumber: 1004
uidNumber: 1004
homeDirectory: /home/1004

dn: cn=pposit,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: pposit
gidNumber: 1004

dn: uid=1005,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: Niña Paloma 
sn: Paloma
uid: 1005 
givenName: Niña
userPassword: {SSHA}Y/fACOiArGZ1oU3l7AV8nXazp+WNJKmN
loginShell: /bin/bash
gidNumber: 1005
uidNumber: 1005
homeDirectory: /home/1005

dn: cn=npaloma,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: npaloma
gidNumber: 1005

dn: uid=1006,ou=People,dc=ansible,dc=fr
objectClass: top
objectClass: inetOrgPerson
objectClass: person
objectClass: organizationalPerson
objectClass: posixAccount
objectClass: shadowAccount
cn: Diabou Ndiaye 
sn: Ndiaye
uid: 1006 
givenName: Diabou
userPassword: {SSHA}so2glwCrGxJhLKfxN83d+7bLACyKDqow
loginShell: /bin/bash
gidNumber: 1006
uidNumber: 1006
homeDirectory: /home/1006

dn: cn=dndiaye,ou=Group,dc=ansible,dc=fr
objectClass: posixGroup
objectClass: top
cn: dndiaye
gidNumber: 1006
