version: "3"

services:
  apache:
    image: httpd:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.apache.rule=Host(`my-site.localhost`) && Path(`/front`)"
      - "traefik.http.routers.apache.entrypoints=http"
    networks:
      - traefik_net

networks:
  traefik_net: