version: "3"

services:
  whoami:
    image: traefik/whoami
    labels:
      - traefik.enable=true
      - traefik.http.routers.whoami.rule=Host(`whoami.localhost`)
      - traefik.http.routers.whoami.entrypoints=web
      - traefik.http.routers.whoami.middlewares=ldap_auth
      - traefik.http.middlewares.ldap_auth.plugin.ldapAuth.enabled=true
      - traefik.http.middlewares.ldap_auth.plugin.ldapAuth.logLevel=DEBUG
      - traefik.http.middlewares.ldap_auth.plugin.ldapAuth.url=ldap://openldap
      - traefik.http.middlewares.ldap_auth.plugin.ldapAuth.port=1389
      - traefik.http.middlewares.ldap_auth.plugin.ldapAuth.baseDN=ou=People,dc=ansible,dc=fr
      - traefik.http.middlewares.ldap_auth.plugin.ldapAuth.attribute=uid
    networks:
      - traefik_net

networks:
  traefik_net:
    external: true